@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic|Oswald:300,300italic,regular,italic,600,600italic&subset=latin");
html .mceContentBody {max-width: 660px;margin: 20px;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";content: none;}
table {border-collapse: collapse;border-spacing: 0;}
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.clear:after {clear: both;content: " ";display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0;}
* html .clear {height: 1%;}
*, body {padding: 20px;background: #fff;color: #333;font-family: "Open Sans",sans-serif;font-size: 15px;line-height: 1.62em;}
a {color: #21759b;text-decoration: none;}
a:hover {color: #d54e21;}
h1, h2, h3, h4, h5, h6 {margin-bottom: 18px;font-family: "Oswald",sans-serif;font-weight: 300;line-height: 1.62em;letter-spacing: 1px;}
h1 {font-size: 36px;}
h2 {font-size: 32px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 15px;}
p {margin-bottom: 24px;}
blockquote {position: relative;color: #444;font-family: Georgia,"URW Bookman L",serif;font-style: italic;margin: 0 30px 0 60px;}
blockquote:before {position: absolute;top: 30px;left: -75px;content: "“";color: #ddd;font-family: serif;font-size: 96px;}
blockquote cite {font-style: normal;}
blockquote cite:before {content: "—";padding-right: 8px;}
table {width: 100%;border-collapse: collapse;text-align: center;margin-bottom: 24px;}
table tr:nth-child(even) {background: #f8f8f8;}
table th, table td {padding: 6px 0;}
table th {font-weight: 600;}
fieldset {border: #eee 1px solid;padding: 2%;}
input[type=text], input[type=password], textarea {padding: 1.5%;box-shadow: inset 1px 1px 5px rgba(0,0,0,.05);background: #fcfcfc;border: #eee 1px solid;color: #999;font-family: "Droid Sans",sans-serif;font-size: 13px;}
input[type=text]:focus, input[type=password]:focus, textarea:focus {background: #fff;color: #333;}
textarea {font-size: 15px;}
input[type=submit], input[type=reset], input[type=button] {padding: 4px 15px;border-radius: 15px;box-shadow: 0 0 5px rgba(0,0,0,.1);background: #f8f8f8;background: -moz-linear-gradient(#fcfcfc,#f3f3f3);background: -webkit-linear-gradient(#fcfcfc,#f3f3f3);background: -o-linear-gradient(#fcfcfc,#f3f3f3);background: -ms-linear-gradient(#fcfcfc,#f3f3f3);background: linear-gradient(#fcfcfc,#f3f3f3);border: none;border-bottom: #ddd 1px solid;color: #444;font-family: "Open Sans",sans-serif;font-size: 13px;}
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {box-shadow: #aaa 0 0 5px;}
input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus {box-shadow: #aaa 0 0 5px;background: -moz-linear-gradient(#eee,#f9f9f9);background: -webkit-linear-gradient(#eee,#f9f9f9);background: -o-linear-gradient(#eee,#f9f9f9);background: -ms-linear-gradient(#eee,#f9f9f9);background: linear-gradient(#eee,#f9f9f9);}
hr {border: none;border-top: #eee 1px solid;}
dt {font-weight: 600;margin-bottom: 24px;}
dd {margin-left: 30px;margin-bottom: 24px;}
ul {list-style-type: disc;margin-left: 30px;margin-bottom: 24px;}
ul li {margin-top: 4px;}
ul ul {list-style-type: square;margin-bottom: 0;}
ul ul ul {list-style-type: circle;}
ol {list-style-type: decimal;margin-left: 30px;margin-bottom: 24px;}
ol ol {list-style: upper-alpha;margin-bottom: 0;}
ol ol ol {list-style: lower-roman;}
ol ol ol ol {list-style: lower-alpha;}
address {font-size: 14px;font-style: italic;margin-bottom: 16px;}
code {padding: 1px 4px;background: #f8f8f8;background: -moz-linear-gradient(#f8f8f8,#f3f3f3);background: -webkit-linear-gradient(#f9f9f9,#f3f3f3);background: -o-linear-gradient(#f8f8f8,#f3f3f3);background: -ms-linear-gradient(#f8f8f8,#f3f3f3);background: linear-gradient(#f8f8f8,#f3f3f3);border-radius: 4px;box-shadow: 0 1px 1px rgba(0,0,0,.2);font-family: Monaco,Consolas,"Lucida Console","Bitstream Vera Sans Mono",monospace;font-size: 12px;}
kbd, tt {font-family: monospace;}
abbr, acronym {border-bottom: #999 1px dotted;cursor: help;}
big {font-size: 1.3em;}
cite, em {font-style: italic;}
ins {padding: 1px 4px;background: #ff0;background: -moz-linear-gradient(#ff3,#ee0);background: -webkit-linear-gradient(#ff3,#ee0);background: -o-linear-gradient(#ff3,#ee0);background: -ms-linear-gradient(#ff3,#ee0);background: linear-gradient(#ff3,#ee0);border-radius: 4px;box-shadow: 0 1px 1px rgba(0,0,0,.2);text-decoration: none;}
pre {padding: 15px;background: #f8f8f8;border: #e3e3e3 1px dashed;color: #000;font-family: Monaco,Consolas,"Lucida Console","Bitstream Vera Sans Mono",monospace;font-size: 12px;line-height: 1.62em;margin-bottom: 24px;overflow: auto;}
q {quotes: inherit;}
q:before {content: open-quote;}
q:after {content: close-quote;}
strong {font-weight: 600;}
sup, sub {height: 0;line-height: 1;vertical-align: baseline;position: relative;font-size: 10px;}
sup {bottom: 1ex;}
sub {top: .5ex;}
img, video {max-width: 100%;height: auto;}
figure img {display: block;margin: 0 auto;}
video {display: block;}
audio {max-width: 100%;}
a img {max-width: 98.5%;padding: .8%;box-shadow: 0 0 3px #eee;background: #fff;border: #eee 1px solid;}
a:hover img {background: #f0f0f0;}
.aligncenter {display: block;margin: 20px auto;}
.alignleft {float: left;margin: 10px 20px 10px 0;}
.alignright {float: right;margin: 10px 0 10px 20px;}
.wp-caption {max-width: 96%;padding: 3% 2%;box-shadow: 0 0 5px rgba(0,0,0,.1);background: #fcfcfc;border-bottom: #eee 1px solid;}
.wp-caption a img {display: block;padding: 0;margin: 0 auto;border: none;box-shadow: none;}
.wp-caption-text {margin: 3% 0 0;color: #333;font-size: 13px;line-height: 1.62em;text-align: center;}
.gallery {margin: auto;}
.gallery-item {float: left;padding: 10px 0;background: #fcfcfc;border-bottom: #eee 1px solid;box-shadow: 0 0 5px rgba(0,0,0,.1);text-align: center;}
.gallery-columns-1 .gallery-item {width: 90%;margin: 0 1.5% 3%;}
.gallery-columns-2 .gallery-item {width: 45%;margin: 0 1.5% 3%;}
.gallery-columns-3 .gallery-item {width: 30%;margin: 0 1.3% 3%;}
.gallery-columns-4 .gallery-item {width: 22%;margin: 0 1.2% 3%;}
.gallery-columns-5 .gallery-item {width: 17%;margin: 0 1.2% 3%;}
.gallery-item:hover {background: #f4f4f4;}
.gallery-item a img {display: block;padding: 0;margin: 0 auto;border: none;box-shadow: none;}
.gallery-icon {margin: 0;}
.gallery-caption {padding: 10px 10px 0;margin: 0;font-size: 12px;line-height: 16px;text-align: center;}
.button {display: inline-block;padding: 5px 18px;border-radius: 100px;box-shadow: 0 0 5px rgba(0,0,0,.1);color: #fff;margin: 5px;}
a.button:hover {color: #fff;box-shadow: 0 0 5px rgba(0,0,0,.2);}
.button-big {padding: 10px 24px;font-size: 18px;}
.button-blue {background: #30aee7;background: -webkit-linear-gradient(#30aee7,#247fa8);border-bottom: 1px solid #14455b;}
.button-blue:hover {background: -webkit-linear-gradient(#247fa8,#30aee7);}
.button-yellow {background: #f4f434;background: -webkit-linear-gradient(#f4f434,#dada2f);border-bottom: 1px solid #686817;}
.button-yellow:hover {background: -webkit-linear-gradient(#dada2f,#f4f434);}
.button-olive {background: #e7ae31;background: -webkit-linear-gradient(#e7ae31,#a87f24);border-bottom: 1px solid #5b4514;}
.button-olive:hover {background: -webkit-linear-gradient(#a87f24,#e7ae31);}
.button-purple {background: #e731ae;background: -webkit-linear-gradient(#e731ae,#a8247f);border-bottom: 1px solid #5b1445;}
.button-purple:hover {background: -webkit-linear-gradient(#a8247f,#e731ae);}
.button-red {background: #e73131;background: -webkit-linear-gradient(#e73131,#a82424);border-bottom: 1px solid #5b1445;}
.button-red:hover {background: -webkit-linear-gradient(#a82424,#e73131);}
.button-green {background: #31e731;background: -webkit-linear-gradient(#31e731,#24a824);border-bottom: 1px solid #5b1445;}
.button-green:hover {background: -webkit-linear-gradient(#24a824,#31e731);}
.button-orange {background: #ff6103;background: -webkit-linear-gradient(#ff6103,#e55703);border-bottom: 1px solid #5b1445;}
.button-orange:hover {background: -webkit-linear-gradient(#e55703,#ff6103);}
.notice {padding: 12px;margin-bottom: 24px;border-radius: 4px;box-shadow: 0 0 5px rgba(0,0,0,.1);}
.info {background: #ceffce;border-bottom: 1px solid #9abf9a;}
.warning {background: #ffffce;border-bottom: 1px solid #bfbf9a;}
.error {background: #ffcece;border-bottom: 1px solid #bf9a9a;}
.dropcap:first-letter {display: inline-block;float: left;min-width: 42px;padding: 20px 10px;border-radius: 4px;font-size: 48px;font-weight: 600;text-align: center;}
.dropcap-blue:first-letter {color: #30aee7;}
.dropcap-yellow:first-letter {color: #f4f434;}
.dropcap-olive:first-letter {color: #e7ae31;}
.dropcap-purple:first-letter {color: #e731ae;}
.dropcap-red:first-letter {color: #e73131;}
.dropcap-green:first-letter {color: #31e731;}
.dropcap-orange:first-letter {color: #ff6103;}
.dropcap-grey:first-letter {margin-right: 10px;background: #eee;}
.dropcap-black:first-letter {margin-right: 10px;background: #333;color: #ddd;}
.dropcap-circle:first-letter {border-radius: 60px;}
.columns .column {float: left;margin-left: 3%;}
.columns .column:first-child {margin: 0;}
.columns .twocol {width: 48.5%;}
.columns .threecol {width: 31.3%;}
.columns .fourcol {width: 22.75%;}
.columns .twothirdcol {width: 65.7%;}
.columns .threefourthcol {width: 74.5%;}